---
redhat:
  username: XXXXXXXXXXXXXXXXX
  password: XXXXXXXXXXXXXXXXX

ts:
  auth: tskey-auth-XXXXXX-XXXXXXXXXXXXXXXXX
  home_subnets: 192.168.2.0/24

proxmox_secrets:
  api:
    host: "192.168.2.253"
    port: 8006
    user: "XXXXXXXXXXXXXXXXX"
    token_id: "XXXXXXXXXXXXXXXXX"
    token_secret: "XXXXXXXXXXXXXXXXX"
  node_name: proxmox
  ssh:
    user: "XXXXXXXXXXXXXXXXX"
    port: 22
    ssh_identity_file: "XXXXXXXXXXXXXXXXX"
  template_name: "baseimage-tester"
  set_hostname: true
  ci:
    user: "XXXXXXXXXXXXXXXXX"
    password: "XXXXXXXXXXXXXXXXX"

ipa:
  admin_password: "XXXXXXXXXXXXXXXXX"

ansible_become_password: XXXXXXXXXXXXXXXXX
ansible_proxy_user: XXXXXXXXXXXXXXXXX

namecheap_email: XXXXXXXXXXXXXXXXX
namecheap_api_key: XXXXXXXXXXXXXXXXX
namecheap_user: XXXXXXXXXXXXXXXXX
namecheap_client_ip: XXXXXXXXXXXXXXXXX

crowdsec_api_url: http://localhost:8080
crowdsec_api_key: XXXXXXXXXXXXXXXXX